:root {
  --black: #111;
  --yellow: #ffc85e;
  --orange: #f3a50d;
  --white: #fff;
  --dark: #3f4e65;
  --gray: #b6b7ba;
  --green: #1fd85d;
  --red: red;
  --shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
  --text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.9);
}

